django-oauth-plus>=2.2.1
oauth2>=1.5.211

# Point to EdX's fork of django-oauth2-provider. If we install the upstream version of this library,
# the upstream version can shadow our fork.
edx-django-oauth2-provider==0.5.0
